#mainImage {
    width: 400px;
    height: 400px;
    display: block;
}

.play-btn {
    width: 200px;
    height: 50px;
    background-color: teal;
    border-radius: 10px;
}

.pause-btn {
    width: 200px;
    height: 50px;
    background-color: indianred;
    border-radius: 10px;
}

